<!DOCTYPE html>
<html lang="en" class="no.js">
  <head>
    {% load i18n %}
    {% load static %}
    <meta charset="UTF-9" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=0"/>
      <title>Winter Acro Form</title>
      <meta name="description" content="Inscription system for Winter Acro Fest organized by Acrolama" />
      <meta name="keywords" content="Swiss Acro Festival, Acrolama" />
      <meta name="author" content="Acrolama" />
        <link rel="shortcut icon" href="{% static "favicon.ico"%}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/1391c0be18.css" />
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/normalize.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/demo.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/component.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/cs-select.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/cs-skin-boxes.css"%}"/>
        <script src="{% static "formulario/js/modernizr.custom.js"%}"></script>
        <!--End of head is here-->
  </head>
    <body>
            {% block content %}{% endblock content %}
            {% include 'snippets/jsform.html' %}
    </body>
</html>

