<!DOCTYPE html>{% load static %}{% load analytical %}
<html lang="en">
    <head>
        {% analytical_head_top %}
        <title>Winter Acro Festival - Acrobatic festival in the swiss alps.</title>
        <meta name="Description" content="The Winter Acro Festival based Switzerland includes many acrobatic, acroyoga, yoga and movement workshops. We have teachers form all around the world, sauna, the best vegan food and a special attention to quality.">
        <meta name="Keywords" content="acrobatic, acroyoga, swiss acro, acroyoga switzerland, suisse acrobatics, akrobatik schweizx">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:url" content="https://acrofestival.ch/winteracro/" />
        <meta property="og:site_name" content="acrofestival.ch/winteracro" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Winter Acro Festival" />
        <meta property="og:image" content="https://acrofestival.ch{% static 'winteracro/images/BANNER.JPG' %}" />
        <meta property="og:description" content="Winter Acro Festival takes place each year in the Swiss Alps. With a selection of top teachers from all over the world and a special attention to quality, they are a perfect acrobatic holiday experience for acro and snow lovers!" />
        <meta property="fb:app_id" content="2581322572097954" />
		    {% include 'pages/winteracro/snippets/cssfest.html' %}
            {% analytical_head_bottom %}
	</head>
    <body>
            {% analytical_body_top %}
            {% block content %}{% endblock content %}
            {% include "pages/winteracro/snippets/jsfest.html" %}
            {% analytical_body_bottom %}
    </body>
</html>
