{% extends "pages/winteracro/basefest.html" %}
{% block content %}{% load static %}{% load tinycontent_tags %}
<!-- Wrapper -->
<div id="wrapper">
<!-- Header -->
    <header id="header" class="alt">
            <span class="logo"><img src="{% static "winteracro/images/2025/winter_acro_2025_logo_transparent.png"%}" alt="Logo Winter Acro in Arosa 2025" /></span>
        <h1>{% tinycontent_simple 'winter_general_title' %}</h1>
        <p>{% tinycontent_simple 'winter_general_date' %}</br>
        <a target="_blank" rel="noopener" href="https://www.urbanacro.com/events/winter-acro-2025-arosa/">Registration</a></p>
    </header>
    {% include 'pages/winteracro/snippets/navhome.html' %}
<!-- Main -->
    <div id="main">
        <!-- Introduction -->
        <section id="intro" class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>Winteracro 2025</h2>
                    </header>
                        <p>
                        {% tinycontent_simple 'winter_home_intro' %}
                        </p>
                    <ul class="actions">
                        <li>
                            <a style="box-shadow:0px 0px; background:#f3d216;" target="_blank" rel="noopener" href="https://www.urbanacro.com/events/winter-acro-2025-arosa/" class="button">
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="image"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_front.jpg"%}" alt="" /></span>
            </div>
        </section>
    <!-- First Section -->
        <section id="included" class="main special">
            <header class="major">
                <h2>Included</h2>
            </header>
            <ul class="features">
                <li>
                    <span class="icon major style3 fas fa-utensils"></span>
                    <h3>Food</h3>
                    <p>{% tinycontent_simple 'winter_home_food' %}
                    </p>
                    </li>
                <li>
                    <span class="icon major style5 fas fa-cogs"></span>
                    <h3>Workshops</h3>
                    <p>{% tinycontent_simple 'winter_home_workshops' %}
                    </p>
                </li>
                <li>
                    <span class="icon major style6 fas fa-snowflake"></span>
                    <h3>Snow Event</h3>
                    <p>{% tinycontent_simple 'winter_home_specialevent' %}
                    </p>
                </li>
                <li>
                    <span class="icon major style1 fas fa-fire"></span>
                    <h3>Wellness</h3>
                    <p>{% tinycontent_simple 'winter_home_sauna' %}
                    </p>
                    </li>
                <li>
                    <span class="icon major style7 fas fa-magic"></span>
                    <h3>Show</h3>
                    <p>{% tinycontent_simple 'winter_home_show' %}
                    </p>
                </li>
                <li>
                    <span class="icon major style1 fas fa-heart"></span>
                    <h3>Hall</h3>
                    <p>{% tinycontent_simple 'winter_home_hall' %}
                    </p>
                </li>
            </ul>
            <footer class="major">
                <ul class="actions">
                    <li>
                        <a style="box-shadow: 0px 0px; background:#f3d216;" target="_blank" rel="noopener" href="https://www.urbanacro.com/events/winter-acro-2025-arosa/" class="button">Registration</a>
                    </li>
                </ul>
            </footer>
        </section>
        <section id="infopics" class="main">
                <div class="box alt">
                        <div class="row gtr-uniform">
                                <div class="col-4">
                                    <span class="image fit">
                                        <img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_3high.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" />
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span class="image fit">
                                        <img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_kiss.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" />
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span class="image fit">
                                        <img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_snow2.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" />
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span class="image fit">
                                        <img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_snow.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" />
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span class="image fit">
                                        <img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_sauna.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" />
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span class="image fit">
                                        <img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_hall.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" />
                                    </span>
                                </div>
                        </div>
                </div>
        </section>
        <section id="info" class="main special">
            <header class="major">
                <h2>Info</h2>
            </header>
            <ul class="features">
                <li>
                    <a href="{% url 'winteraccommodation'%}" style="text-decoration: none;"><span class="icon major style1 fas fa-bed"></span></a>
                    <h3>Accommodation</h3>
                    <p>{% tinycontent_simple 'winter_home_accomodation' %}
                    <a class="button" href="{% url 'winteraccommodation'%}">More Info.</a>
                    </p>
                </li>
                <li>
                    <a href="{% url 'winterlocation'%}" style="text-decoration: none;"><span class="icon major style2 fas fa-map-marker"></span></a>
                    <h3>Location</h3>
                    <p>{% tinycontent_simple 'winter_home_location' %}
                    <a class="button" href="{% url 'winterlocation'%}">More Info</a>
                    </p>
                    </li>
                <li>
                    <a href="{% url 'winterconditions'%}" style="text-decoration: none;"><span class="icon major style1 fas fa-money-bill-wave"></span></a>
                    <h3>Conditions</h3>
                    <p>{% tinycontent_simple 'winter_home_prices' %}
                    <a class="button" href="{% url 'winterconditions'%}">More Info</a>
                    </p>
                </li>
            </ul>
            <footer class="major">
                <ul class="actions">
                    <li>
                    <a style="box-shadow: 0px 0px; background:#f3d216;" target="_blank" rel="noopener" href="https://www.urbanacro.com/events/winter-acro-2025-arosa/" class="button">
                        Register
                    </a>
                    </li>
                </ul>
            </footer>
        </section>
        <section id="teachers" class="main">
                <header class="major">
                    <h2>{% tinycontent_simple 'winter_general_title' %} - Teachers</h2>
                </header>
                <!-- <p> -->
                <!-- <u>Confirmed</u> teachers on the left. <u>To be confirmed</u> on the right. We'll keep you posted :) -->
                <!-- </p> -->
                <div class="box alt">
                    <div class="row gtr-uniform">
                        <!-- <p><h2>Kat & Jared - Duo Acrokatics</h2></p> -->
                        <!-- <p> -->
                        <!-- <span class="image left"> -->
                        <!--     <img src="{% static "winteracro/images/teachers2024/urbanacro_winteracro_festival_teachers_acrokatics.png"%}" alt="Winter acro from urbanacro teacher acrokatics doing acro pose"> -->
                        <!-- </span> -->
                        <!-- Awesome acrobats, teachers, and people! We have been trying to get them to come for years, but it's always hard with circus artists. Very happy to have them here teaching some duo and group acrobatics!<br> -->
                        <!-- Check them out at: <a href="https://www.instagram.com/acrokatics/">Acrokatics on Instagram</a> -->
                        <!-- </p> -->
                        <p><h2>Je & Cuzio - Acrolinks</h2></p>
                        <p>
                        <span class="image left">
                            <img src="{% static "winteracro/images/teachers2024/urbanacro_winteracro_festival_teachers_acrolinks.png"%}" alt="Winter acro from urbanacro teacher acrolinks doing acro pose">
                        </span>
                        Icarian fanatics from Italy who bring us some smooth and creative tricks with a sprinkle of "Wow."<br>
                        Check them out at: <a href="https://www.instagram.com/acrolinks/">Arolinks on Insta</a>
                        </p>
                        <p><h2>Bruno</h2></p>
                        <p>
                        <span class="image left">
                            <img src="{% static "winteracro/images/teachers2019/bruno.jpg"%}" alt="Bruno the master of improvisation, clown and show winter acro 2024"></img>
                        </span>
                        I had to laugh only from remembering Bruno! <u>Improvisation and staging</u> are he's strengths and passion. It's hard to find the words to describe such a warm hearted clown, you just have to meet him. Happy to have you with us my friend!
                        </p>
                    </div>
            </div>
        </section>
        <section id="pics" class="main">
                <header class="major">
                <h2>Photos 2018 - 2022 - Lenk</h2>
                <h3>by Matthias Bleisch and Fii</h3>
                </header>
                <div class="box alt">
                        <div class="row gtr-uniform">
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_3Manhigh.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Icarian.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Slackline.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-3"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Snow.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_3manhigh_2.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Acroyoga3.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Mira.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Acroyoga1.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Onearm.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_show.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_Star.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                                <div class="col-4"><span class="image fit"><img src="{% static "winteracro/images/Winter_Acro_Festival_Lenk_turnhalle.jpg"%}" alt="Winter Acro Festival Lenk Star - Urbanacro" /></span></div>
                        </div>
                </div>
        </section>
        <!---Schedule -->
        <section id="schedule" class="main special">
            <header class="major">
                <h2>Schedule</h2>
                <p>{% tinycontent_simple 'winter_home_schedule' %}
                </p>
                <!-- <h2><a href="https://docs.google.com/spreadsheets/d/1U3Kyh77kwNPIyxkHhSyy07eEJlW29MELMOcjYbLpHWQ/edit?usp=sharing" target="_blank">WORKSHOP SCHEDULE</a></h2> -->
            </header>
                <h2>Saturday</h2>
                <ul class="statistics">
                    {% for obj in sat1 %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Sunday</h2>
                <ul class="statistics">
                    {% for obj in sun %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Monday</h2>
                <ul class="statistics">
                    {% for obj in mon %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Tuesday</h2>
                <ul class="statistics">
                    {% for obj in tue %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Wednesday</h2>
                <ul class="statistics">
                    {% for obj in wed %}
                        <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Thursday</h2>
                <ul class="statistics">
                    {% for obj in thu %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Friday</h2>
                <ul class="statistics">
                    {% for obj in fri %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Saturday</h2>
                <ul class="statistics">
                    {% for obj in sat2 %}
                    <li class="{{obj.style}}">
                            <span class="fas {{obj.icon}}"></span>
                            <strong>{{obj.time|format:"H:i"}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                </ul>
        </section>
        <!-- <section id="donation" class="main"> -->
        <!--     <div class="spotlight"> -->
        <!--         <div class="content"> -->
        <!--             <header class="major"> -->
        <!--                 <h2>Plant a tree campaign</h2> -->
        <!--             </header> -->
        <!--                 <p> -->
        <!--                 Already last year we supported this campaign at the Winter Acro with a lot of success and we hope we can get to help this year again.<br/> -->
        <!--                 This video inspired us: -->
        <!--                 <div class="iframe-container"> -->
        <!--                 <iframe src="https://www.youtube.com/embed/-Q0xUXo2zEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!--                 </div> -->
        <!--                 <br> -->
        <!--                 and so we found out about <a href="https://www.plant-for-the-planet.org">Plant for the planet</a> and their campaign <a href="https://www.trilliontreecampaign.org">Trillion trees</a>. We love it: the goal is simple, direct and they make it achievable.<br><br> -->
        <!--                 A ton of NGO support them. Think it more as a connecting platform to make donation, for this particular cause, as simple as possible.<br> -->
        <!--                 We looked between the organisations to find one we could speak directly, in person. And we found <a href="https://www.bos-schweiz.ch/">Bos Schweiz</a> -->
        <!--                 They really do an awesome job to solve the tree problem from the roots (Saw what i did there ;D). Let them explain: -->
        <!--                 <br><br> -->
        <!--                 <div class="iframe-container"> -->
        <!--                 <iframe src="https://www.youtube.com/embed/16NCtzxrfrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!--                 </div> -->
        <!--                 </p> -->
        <!--             <ul class="actions"> -->
        <!--                 <li> -->
        <!--                     We got a donation box on our registration. But you can make it directly too!<br> -->
        <!--                 </li> -->
        <!--             </ul> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </section> -->
    </div>
    {% include 'pages/winteracro/snippets/footer.html' %}
</div>
{% endblock content %}
