{% extends "pages/winteracro/basefest.html" %}
{% block content %}{% load static %}{% load content_tags %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h2>{% content_snippet 'winter_acro_header_location' %}</h2>
        <p>How to get there and where will we sleep</p>
    </header>
    {% include "pages/winteracro/snippets/navnothome.html" %}
    <!-- Main -->
    <div id="main">
        <section id="hall" class="main">
            <h1>Hall</h1>
            <h2>{% content_snippet 'winter_hall_title' %}</h2>
            <p>{% content_snippet 'winter_hall_description' %}</p>
            <p>
            <span class="image right">
                    <img src="{% static "winteracro/images/2025/halle.png" %}" alt="winter accommodation for the urbanacro winter acro festival" />
            </span>
            <h3>{% content_snippet 'winter_hall_spa' %}</h3>
            {% content_snippet 'winter_hall_spa_description' %}
            <a class="button" style="box-shadow:0px; background:#f3d216;" href="{% content_snippet 'winter_hall_address_url' %}">
                    Google Maps CLICK HERE
            </a>
            </br></br>
            </p>
        </section>
        <section id="location" class="main">
            <h1>Transportation</h1>
            <h2>By train:</h2>
            {% content_snippet 'winter_transportation_train' %}
            <h3>Approximate travel times by train</h3>
            {% content_snippet 'winter_transportation_train_time' %}
            <h3>Tickets</h3>
            {% content_snippet 'winter_transportation_tickets' %}
            <a href="https://www.sbb.ch/">SBB</a></br>
            <a href="https://www.rome2rio.com/">Rome2Rio has offers worth checking</a></br>
            Prices are very relative.
            As a obvious general recommendation <u>book with time!</u></p>
            <h2>By car:</h2>
            {% content_snippet 'winter_transportation_car' %}
            <h3>Approximate travel times by car</h3>
            {% content_snippet 'winter_transportation_car_time' %}
            <footer class="major">
                <ul class="actions">
                        <li><a href="{% url "winteracro"%}" class="button">Back</a></li>
                </ul>
            </footer>
        </section>
    </div>
    {% include "pages/winteracro/snippets/footer.html" %}
</div>
{% endblock %}
