<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Winter Acro Festival - Acrobatic and acroyoga festival in the swiss alps.</title>
        <meta name="Description" content="The Winter Acro Festival based in Lenk Switzerland includes many acrobatic, acroyoga, Thai massage, yoga and movement workshops. With teachers form all around the world, a special attention to quality and different snow events its a event you should not miss!">
        <meta name="Keywords" content="acrobatic, acroyoga, swiss acro, acroyoga switzerland, suisse acrobatics, akrobatik schweizx">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:url" content="https://acrolama.com/" />
        <meta property="og:title" content="Winter Acro Festival" />
        <meta property="og:image" content="{% static 'fest/images/banner.jpg' %}"/>
		    {% include 'snippets/cssfest.html' %}
	</head>
    <body>
            {% block content %}{% endblock content %}
            {% include 'snippets/jsfest.html' %}
    </body>
</html>
