{% extends "basefest.html" %}
{% block content %}
{% load static %}
<!-- Wrapper -->
<div id="wrapper">
<!-- Header -->
    <header id="header" class="alt">
            <span class="logo"><img src="{% static "fest/images/logo_vek.svg"%}" alt="" /></span>
        <h1>2nd Winter Acro Festival</h1>
        <p>22. - 27. of February 2019</br>
        Register <a href="fest/form/">HERE</a></p>
    </header>
    {% include 'snippets/navhome.html' %}
<!-- Main -->
    <div id="main">
        <!-- Introduction -->
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>What's it all about</h2>
                        </header>
                            <p>
                            Welcome!</br> We'd like to invite you to the 2th Version of the Winter Acro Festival in
                            Lenk, Switzerland. It's going to take place from:</br>
                            <u>22 till 27 of February 2019</u></br>
                            With the experience of 2018 we made some upgrades!:</br>
                            For starters it's going to be <u>6 days of Festival with 11 Rounds of Acro Workshops</u>
                            with handpicked teachers, but more about them later :).
                            There are some additional Handstands, Yoga and Thai Massage classes planned ;). And since
                            we're in the mountains, and it's winter, we'll add some Snow related activities. To close
                            this year to relax - after hard training - we have Saunas you can enjoy in the evening.</br>
                            </p>
                        <ul class="actions">
                                <li><a href="{% url "winterform"%}" class="button">Register</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{% static "fest/images/pic01.jpg"%}" alt="" /></span>
                </div>
            </section>
        <!-- First Section -->
            <section id="info" class="main special">
                <header class="major">
                    <h2>General Information</h2>
                </header>
                <ul class="features">
                    <li>
                        <span class="icon major style1 fa-bed"></span>
                        <h3>Accommodation</h3>
                        <p>
                        This year the dorms are 4 Min. walk from the Hall - No LamaAirlines, sorry :C -. Important is
                        you bring your sleeping bags! *Not included in single day tickets.
                        More <u>important details</u>:</br></br>
                        <a class="button" href="{% url 'winterlocation'%}#accommodation">CLICK HERE</a>
                        </p>
                    </li>
                    <li>
                        <span class="icon major style3 fa-cutlery"></span>
                        <h3>Food</h3>
                        <p>
                        Food plays an important roll. Main dishes, healthy snacks and fruits are all Bio, mostly
                        local and vegan. <u>Please note that there will be some help asked from everyone arround
                        small kitchen tasks.</u></br></br>
                        <a class="button" href="">Info about Food</a>
                        </p>
                        </li>
                    <li>
                        <span class="icon major style5 fa-cog"></span>
                        <h3>Workshops</h3>
                        <p>
                        There'll be 11 rounds of acro workshops and space for a constant jam. Experience in Acro is
                        important for your own enojoyment. <u>There will be no Beginner Workshops</u>.</br></br>
                        <a class="button" href="#workshops">Workshop List</a>
                        </p>
                    </li>
                    <li>
                        <span class="icon major style6 fa-snowflake-o"></span>
                        <h3>Special events</h3>
                        <p>
                        On monday noon ther's an out-door <u>snow event up on the mountain</u> in the ski resort.
                        (If the weather is good <i class="fa fa-hand-o-left" aria-hidden="true"></i>).
                        <u>Sauna to relax and an open stage</u> to share your talents. As an EXTRA, we could organise
                        a day Ski ticket for you.
                        </p>
                    </li>
                    <li>
                        <span class="icon major style4 fa-map-marker"></span>
                        <h3>Location</h3>
                        <p>
                        This Festival takes place in Lenk im Simmental, Switzerland. A complete description on how to
                        get there can be found in the following link:</br></br>
                        <a href="{% url 'winterlocation'%}#location">CLICK HERE</a>
                        </p>
                        </li>
                    <li>
                        <span class="icon major style2 fa-money"></span>
                        <h3>Prices</h3>
                        <p>
                        We have tickets based on the amount of days you stay at the festival. All of them include:</br>
                        Accomodation, food, workshops, local train and mountain lift tickets.</br>
                        <u>Single day tickets don't include breakfast</u>. More information, like complete list of
                        prices and conditions can be found:</br></br>
                        <a href="{% url 'winterprices'%}">CLICK HERE</a>
                        </p>
                </ul>
                <footer class="major">
                    <ul class="actions">
                            <li><a href="{% "winterform"%}" class="button">Read Enough? Register HERE</a></li>
                    </ul>
                </footer>
            </section>
            <section id="second" class="main special">
                <header class="major">
                    <h2>Schedule</h2>
                    <p> A general time plan for the event</p>
                </header>
                <h2> Thursday </h2>
                <ul class="statistics">
                     <li class="style1">
                        <span class="icon fa-home"></span>
                        <strong>14:00</strong> House Opening
                    </li>
                    <li class="style1">
                        <span class="icon fa-flag-checkered"></span>
                        <strong>16:30</strong> Hall opening
                    </li>
                    <li class="style1">
                        <span class="icon fa-fire"></span>
                        <strong>17:00</strong> Warm up
                    </li>
                    <li class="style1">
                        <span class="icon fa-cogs"></span>
                        <strong>17:30</strong> Round 1 workshops
                    </li>
                    <li class="style1">
                        <span class="icon fa-cutlery"></span>
                        <strong>19:00</strong> Dinner
                    </li>
                </ul>
                <footer class="major">
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn More</a></li>
                    </ul>
                </footer>
            </section>
    </div>
    {% include 'snippets/footer.html' %}
</div>
{% endblock content %}
