{% extends "basefest.html" %}
{% block content %}
{% load static %}
<!-- Wrapper -->
<div id="wrapper">
<!-- Header -->
    <header id="header" class="alt">
            <span class="logo"><img src="{% static "fest/images/logo_vek.svg"%}" alt="" /></span>
        <h1>2nd Winter Acro Festival</h1>
        <p>22. - 27. February 2019</br>
        Register <a href="{% url "winterform"%}">HERE</a></p>
    </header>
    {% include 'snippets/navhome.html' %}
<!-- Main -->
    <div id="main">
        <!-- Introduction -->
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>What's it all about</h2>
                        </header>
                            <p>
                            Welcome!</br> We'd like to invite you to the 2nd version of the Winter Acro Festival in
                            Lenk, Switzerland. It's going to take place from:</br>
                            <u>22 till 27 of February 2019</u></br>
                            With the experience of 2018 we made some upgrades:
                            For starters we have <u>6 days of festival, 11 rounds of acro workshops</u>
                            and handpicked teachers, but more about them later :).
                            There are some additional handstands, yoga and thai massage classes planned ;).
                            Since we're in the mountains we'll add some <u>snow activities</u>. To close,
                            this year - after hard training - we have saunas you can enjoy in the evening.</br>
                            </p>
                        <ul class="actions">
                                <li>
                                        <a style="box-shadow:0px 0px; background:#f3d216;" href="{% url "winterform"%}"
                                                class="button">Register
                                        </a>
                                </li>
                        </ul>
                    </div>
                    <span class="image"><img src="{% static "fest/images/pic01.jpg"%}" alt="" /></span>
                </div>
            </section>
        <!-- First Section -->
            <section id="info" class="main special">
                <header class="major">
                    <h2>General Information</h2>
                </header>
                <ul class="features">
                    <li>
                        <span class="icon major style1 fa-bed"></span>
                        <h3>Accommodation</h3>
                        <p>
                        This year the dorm is 4 min. walk from the hall - No LamaAirlines, sorry :( -. Important is
                        that you bring your own sleeping bag! *Accommodation is not included in single day tickets.
                        More important details:</br></br>
                        <a class="button" href="{% url 'winterlocation'%}#accommodation">CLICK HERE</a>
                        </p>
                    </li>
                    <li>
                        <span class="icon major style3 fa-utensils"></span>
                        <h3>Food</h3>
                        <p>
                        Food plays an important roll in this festival. Main dishes, healthy snacks and fruits are all
                        bio, mostly local, vegan and cooked with love.</br>* <u>Please note that there will be some help
                        asked from everyone arround small kitchen tasks.</u></br></br>
                        <a class="button" href="">COOKING TEAM</a>
                        </p>
                        </li>
                    <li>
                        <span class="icon major style5 fa-cogs"></span>
                        <h3>Workshops</h3>
                        <p>
                        There'll be 11 rounds of acro workshops and space for a constant jam. Experience in acro is
                        important for your own enjoyment.</br>* <u>There will be no beginner workshops</u>.</br></br>
                        <a class="button" href="#workshops">TEACHERS</a>
                        </p>
                    </li>
                    <li>
                        <span class="icon major style3 fa-snowflake"></span>
                        <h3>Special events</h3>
                        <p>
                        On monday noon we organized a <u>snow event up on the mountain</u> at the ski resort
                        (If the weather is good <i class="fa fa-hand-o-left" aria-hidden="true"></i>). Bring warm cloths
                        for out-door acro. Free afternoon for ski, snowboard or free floor at the hall.</br>
                        There's <u>sauna to relax and an open stage</u> to share your talents.</br>*As an <u>EXTRA</u>,
                        we could organise a day ski ticket for you.
                        </p>
                    </li>
                    <li>
                        <span class="icon major style2 fa-map-marker"></span>
                        <h3>Location</h3>
                        <p>
                        This Festival takes place in Lenk im Simmental, Switzerland. A complete description on how to
                        get there can be found in the following link:</br></br>
                        <a class="button" href="{% url 'winterlocation'%}#location">CLICK HERE</a>
                        </p>
                        </li>
                    <li>
                        <span class="icon major style1 fa-money-bill-wave"></span>
                        <h3>Prices</h3>
                        <p>
                        We have tickets based on the amount of days you stay at the festival. All include:</br>
                        accomodation, food, workshops and mountain lift ticket.</br>
                        <u>Single day tickets don't include breakfast</u>. Conditions and prices:</br></br>
                        <a class="button" href="{% url 'winterprices'%}">CLICK HERE</a>
                        </p>
                </ul>
                <footer class="major">
                    <ul class="actions">
                            <li>
                            <a style="box-shadow: 0px 0px; background:#f3d216;" href="{% url "winterform"%}"
                                    class="button">Read Enough? Register HERE
                            </a>
                            </li>
                    </ul>
                </footer>
            </section>
            <section id="schedule" class="main special">
                <header class="major">
                    <h2>Schedule</h2>
                    <p> Some changes are to be expected, but it's our best approximation at this time :)</p>
                </header>
                    <h2>Friday</h2>
                    <ul class="statistics">
                        {% for obj in fri %}
                        <li class="{{obj.style}}">
                                <span class="{{obj.icon}}"></span>
                                <strong>{{obj.time}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                    </ul>
                    <h2>Saturday</h2>
                    <ul class="statistics">
                        {% for obj in sat %}
                        <li class="{{obj.style}}">
                                <span class="{{obj.icon}}"></span>
                                <strong>{{obj.time}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                    </ul>
                    <h2>Sunday</h2>
                    <ul class="statistics">
                        {% for obj in sun %}
                        <li class="{{obj.style}}">
                                <span class="{{obj.icon}}"></span>
                                <strong>{{obj.time}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                    </ul>
                    <h2>Monday</h2>
                    <ul class="statistics">
                        {% for obj in mon %}
                        <li class="{{obj.style}}">
                                <span class="{{obj.icon}}"></span>
                                <strong>{{obj.time}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                    </ul>
                    <h2>Tuesday</h2>
                    <ul class="statistics">
                    {% for obj in tue %}
                    <li class="{{obj.style}}">
                                <span class="{{obj.icon}}"></span>
                                <strong>{{obj.time}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                    </ul>
                    <h2>Wednesday</h2>
                    <ul class="statistics">
                    {% for obj in wed %}
                        <li class="{{obj.style}}">
                            <span class="{{obj.icon}}"></span>
                            <strong>{{obj.time}}</strong> {{obj.title}}
                    </li>
                    {% endfor %}
                    </ul>
                    <!--
                <footer class="major">
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn Mo</a></li>
                    </ul>
                </footer>-->
            </section>
    </div>
    {% include 'snippets/footer.html' %}
</div>
{% endblock content %}
