{% load static i18n %}{% load analytical %}<!DOCTYPE html>
<html lang="en">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}AcroFestival{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The First Acro, Acroyoga Festival in Zürich Switzerland. Come and join us in 3 days of playing with movement, acrobatics, yoga and healing arts.">
    <meta name="author" content="Adrian Garate">
    <meta name="keywords" content="Acroyoga, Acrofestival, Acrobatic, Akrobatik, Acro Zürich, Acroyoga Zürich, Acrolama Festival">
    <meta property="og:url" content="https://www.acrofestival.ch" />
    <meta property="og:title" content="Urban Acro Festival Züri" />
    <meta property="og:image" content="{% static 'urbanacro/images/logo_acrofestival.png'%}">
    <link rel="icon" href="{% static 'urbanacro/images/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="{% static 'urbanacro/js/html5shiv.js'%}"></script>
        <script src="{% static 'urbanacro/js/respond.min.js'%}"></script>
    <![endif]-->

    {% block css %}

    <!-- Latest compiled and minified Bootstrap 3 beta CSS -->
    <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!-- This file stores project-specific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'urbanacro/css/custom-animations.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'urbanacro/css/lib/bootstrap.min.css'%}?ran=21312e1d2x" />
    <link rel="stylesheet" type="text/css" href="{% static 'urbanacro/css/lib/toastr.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'urbanacro/css/lib/font-awesome.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'urbanacro/css/style.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'urbanacro/css/frontpage.css'%}" />
    {% endblock %}
    {% analytical_head_bottom %}
  </head>

  <body>
        {% analytical_body_top %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery-1.11.3.min.js'%}"></script>
        <![endif]-->
        <!--[if (gte IE 9) | (!IE)]><!-->
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery-2.1.4.min.js'%}"></script>
        <!--<![endif]-->

      <!-- Required by Bootstrap v4 beta -->
      <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
      <!-- Your stuff: Third-party javascript libraries go here -->
        <script type="text/javascript" src="{% static 'urbanacro/js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery.validate.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/toastr.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery.waypoints.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery.appear.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery.plugin.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/jquery.countTo.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/masonry.pkgd.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'urbanacro/js/modal-box.js'%}"></script>
      <!-- place project specific Javascript in this file -->
        <script type="text/javascript" src="{% static 'urbanacro/js/ventcamp.js'%}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHwHR0NjhFjRP6_g4ExH8ErQgVJQu8oZ0&v=3&libraries=places"></script>

    {% endblock javascript %}
   {% analytical_body_bottom %}
  </body>
</html>
