{% extends 'base.html'%}
{% block content %}{% load static %}{% load tinycontent_tags %}
<section class="xop-container">
	<div class="xop-left">
		<article>
        <a href="{% url 'winteracro'%}">
            <h1>{% tinycontent_simple 'winter_general_title' %}</h1>
            <h1 style="font-size:2rem;">{% tinycontent_simple 'winter_general_date' %}</h1>
            <a href="{% url 'winteracro'%}" class="xop-button">Enter</a>
        </a>
		</article>
	</div>
	<div class="xop-right">
		<article>
        <a href="{% url 'urbanacro'%}">
            <h1>Urban Acro Festival</h1>
            <h1 style="font-size:2rem" >9 - 11 Aug. 2019</h1>
            <a href="{% url 'urbanacro'%}" class="xop-button">Enter</a>
        </a>
		</article>
	</div>
</section>
{% endblock %}